@font-face {
  font-family: NittyNormal;
  src: url('NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  src: url('NB.woff') format('woff');
}

:host {
  width: 400px;
  margin: 0 10px 0 10px; 
  font-family: 'NittyNormal', sans-serif;
  font-size: 15px;
  float: left;
}

.student-info {
  border-bottom: 5px solid white;
  vertical-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 50px;
  padding: 20px;
  background: #E5CF39;
}

.student-info:last-child {
  border-bottom: 0;
}

.student-info:hover {
  color: white;
  background: #A5CC45;
}
.student-info.selected {
  height: 120px;
  color: white;
  background: #A5CC45;
}

.details {
  display: none;
}

.basic-info  {
  height: 50px;
}
.selected .details {
  color: black;
  margin-top: 20px;
  width: 100%;
  display: block;
  float: left;
}

form {
  height: 40px;
}

label {
  font-family: 'NittyBold', sans-serif;
  width: 25%;
  font-size: 0.9em;
  height: 40px;
  float: left;
  padding: 10px 0px;
  text-align: left;
}

input[type="text"] {
  background: #E5CF39;
  padding: 10px;
  font-family: 'NittyBold', sans-serif;
  font-size: 0.9em;
  color: white;
  float: right;
  width: 65%;
  height: 20px;
  text-align: center;
  border: 1px black;
}

ul {
  list-style:none;
  margin: 0;
  padding-left:0;
}

.person {
  height: 50px;
  padding: 0;
}

.image {
  float: left;
  text-align: left;
  width: 20%;
}

.full-name {
  width: 60%;
  float: left;
}

.student-id {
  text-align: right;
  width: 20%;
  float: right;
}
